:root {
  --primary: #f57009;
  --secondary: #fde4d0;
  --dark: #1c1a30;
  --blue: #414eff;
}

a {
  text-decoration: none;
  font-size: 20px;
}

* {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--blue);
}
