$colors: (
  primary: #f57009,
  secondary: #fde4d0,
  dark: #1c1a30,
  blue: #414eff,
);

:root {
  @each $property, $value in $colors {
    --#{$property}: #{$value};
  }
};

$primary: var(--primary);
$secondary: var(--secondary);
$dark: var(--dark);
$blue: var(--blue);
